$color-primary: #ED7600;
$color-default: #fff;
$color-sub-1: #666666;
$color-sub-2: #999999;
$color-sub-3: #81C9A9;
$color-sub-4: #FF0000;
$color-sub-5: #FB6977;
$color-sub-6: #435DD2;

$color-bg:#E5E5E5;